@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
$path:'../images/form-';
$b-path:'';
$color:#bc3c33;

body{
	margin:0;
	height:100%;
	background:#fff;
	overflow:hidden;
	font:14px/16px 'PT Sans', sans-serif;
	position:relative;
	color:$color;
	&.form{
		.step1{
			display:none;
		}
		.step2{
			display:block;
		}
	}
	&.form-sent{
		.step2{
			display:none;
		}
		.sent{
			display:block;
		}
	}
	&.theme1{
		height:438px;
		font-size:18px;
		line-height:22px;
		border:1px solid #d6d6d6;
		.theme1{
			display:block;
		}
		.header-wrap{
			height:80px;
		}
		.header{
			position:relative;
			padding:0 0 4px 92px;
		}
		.img{
			border-radius:50%;
			position:absolute;
			bottom:-30px;
			left:16px;
			border:2px solid currentColor;
		}
		.h{
			font-weight:700;
			padding-top:2px;
		}
		.step2.loading:after{
			bottom:-116px;
		}
		.msg{
			margin-top:50px;
		}
		textarea{
			height:174px;
			border-radius:2px;
		}
		.next{
			bottom:-100px;
			height:44px;
			line-height:44px;
			padding:0 34px 0 20px;
		}
		.next-c{
			border-radius:22px;
		}
		.footer{
			display:block;
		}
		.do{
			color:#676767;
			font-weight:700;
			margin:50px 0 30px 0;
		}
		.item:not(.msg){
			margin-top:11px;
		}
		input[type=text]{
			width:282px;
			height:28px;
			border-radius:3px;
			box-shadow:inset 0 2px 0 -1px #f5f5f5;
		}
	}
	//---
	&.theme2{
		height:415px;
		background: url(#{$path}theme2-bg.jpg) no-repeat;
		&.form{
			.header-wrap{
				display:none;
			}
			.next{
				bottom:-126px;
			}
		}
		.theme2{
			display:block;
		}
		.header-wrap{
			height:108px;
		}
		.header{
			position:relative;
			padding:18px 24px;
			text-align:center;
			background:#fff;
		}
		.h{
			font-size:18px;
		}
		.sub-h{
			font-size:36px;
			font-weight:700;
			line-height:50px;
		}
		textarea{
			height:116px;
		}
		.next{
			bottom:10px;
			background:#bc080a;
			width:108px;
			height:40px;
			line-height:16px;
			font-size:18px;
			padding:4px 48px 0 50px;
			border-radius:22px;
			&:before{
			  content:'';
				position:absolute;
				left:14px;
				top:50%;
				-webkit-transform:translate(0, -50%);
				transform:translate(0, -50%);
				width:25px;
				height:30px;
				background: url(#{$path}theme2-btn.png) no-repeat;
			}
		}
		.do{
			color:#fff;
			font-size:18px;
			background:#314da6;
			padding:30px 24px 34px 24px;
			margin:0 -24px;
			line-height:22px;
		}
		.item{
			margin-top:28px;
			&+.item{
				margin-top:15px;
			}
		}
		input[type=text]{
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			height:48px;
			width:100%;
		}
		.step2.loading:after{
			bottom:-126px;
		}
		.sent{
			height:auto;
			color:#fff;
			font-size:18px;
			background:#314da6;
			padding:30px 24px 34px 24px;
			line-height:22px;
			margin-top:0;
		}
	}
	//---
	&.theme3{
		height:413px;
		border:1px solid #d6d6d6;
		&.form{
			.about{
				display:none;
			}
			.next{
				bottom:-98px;
			}
		}
		.theme3{
			display:block;
		}
		.about{
			padding-left:78px;
			margin-top:24px;
			font-weight:700;
			color:#fff;
			position:relative;
			min-height:62px;
			&:before{
			  content:'';
				position:absolute;
				left:0;
				top:50%;
				-webkit-transform:translate(0, -50%);
				transform:translate(0, -50%);
				margin-top:3px;
				width:53px;
				height:62px;
				background: url(#{$path}theme3-emblem.png) no-repeat;
			}
		}
		.header-wrap{
			padding:10px 24px 0 24px;
		}
		.header{
			text-align:center;
			background:#fff;
		}
		.h{
			font-size:36px;
			line-height:50px;
			font-weight:700;
			text-transform:uppercase;
		}
		.sub-h{
			font-size:24px;
			font-weight:700;
			margin-top:3px;
		}
		.msg{
			margin-top:22px;
		}
		textarea{
			height:116px;
		}
		.next{
			bottom:10px;
			background:rgba(#fff,0.4);
			height:46px;
			line-height:46px;
			font-size:24px;
			font-weight:700;
			padding:0 46px 0 10px;
		}
		.do{
			color:#fff;
			font-size:24px;
			line-height:30px;
			background:rgba(#fff,0.4);
			padding:4px 10px;
			text-align:center;
			margin-top:18px;
		}
		.item:not(.msg){
			margin-top:15px;
		}
		input[type=text]{
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			height:48px;
			width:100%;
		}
		.step2.loading:after{
			bottom:-116px;
		}
		.sent{
			height:auto;
			color:#fff;
			font-size:18px;
			background:rgba(#fff,0.4);
			padding:10px 24px 12px 24px;
			line-height:22px;
			margin-top:60px;
		}
	}
	//---
	&.theme4{
		height:415px;
		background: url(#{$path}theme4-bg.jpg) no-repeat;
		&.form{
			.do{
				display:none;
			}
			.item{
				margin-top:56px;
				&+.item{
					margin-top:15px;
				}
			}
			.next{
				bottom:-45px;
			}
		}
		.theme4{
			display:block;
		}
		.header-wrap{
			height:86px;
		}
		.header{
			position:relative;
			padding:4px 24px 12px 24px;
			text-align:center;
			background:#fff;
			text-transform:uppercase;
		}
		.h{
			font-size:36px;
			line-height:50px;
			font-weight:700;
		}
		.sub-h{
			font-size:18px;
			margin-top:3px;
		}
		.about{
			padding-left:78px;
			width:262px;
			font-weight:700;
			color:#fff;
			min-height:62px;
			position:absolute;
			left:22px;
			top:328px;
		}
		.item{
			margin:15px 0 0 210px;
		}
		textarea{
			height:204px;
		}
		input[type=text]{
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			height:48px;
			width:100%;
		}
		.step2.loading:after{
			bottom:-56px;
		}
		.next{
			bottom:-86px;
			background:#a62126;
			width:145px;
			font-size:24px;
			padding:8px 10px 8px 14px;
			&:after{
				display:none;
			}
		}
		.sent{
			margin-top:80px;
			background:#fff;
			padding:14px 24px;
			height:auto;
		}
	}
	//---
	.theme1,.theme2,.theme3,.theme4{
		display:none;
	}
}

.top-text{
	height:70px;
	padding:6px 24px 0 78px;
	font-size:14px;
	line-height:16px;
	color:#000;
}
.bg{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:linear-gradient(180deg,$color,rgba($color,0.8)),#000;
}
.h,.sub-h{
	position:relative;
	color:#fff;
}
.img{
	display:none;
}
.step1,.step2,.sent{
	height:194px;
	padding:0 24px;
	position:relative;
	display:none;
}
.step1{
	display:block;
}
.step2{
	&:after{
	  content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		background: url(#{$path}loader.gif) center no-repeat;
	}
}
.sent{
	margin-top:50px;
	font-size:18px;
	font-weight:700;
	display:none;
}
.item{
	display:block;
}
.msg{
	position:relative;
}
.plh{
	position:absolute;
	left:10px;
	right:10px;
	top:8px;
	color:#b1b1b1;
	line-height:18px;
	font-size:14px;
	cursor:text;
	&.hidden{
		display:none;
	}
}
textarea{
	border:1px solid #e1e1e1;
	width:100%;
	padding:6px 0 0 9px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	resize:none;
	&.error{
		border-color:#f00;
	}
}
.next{
	position:absolute;
	right:24px;
	cursor:pointer;
	&:after{
	  content:'';
		position:absolute;
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
		top:50%;
		margin-top:-6px;
		right:14px;
		width:12px;
		height:12px;
		border-top:1px solid #fff;
		border-right:1px solid #fff;
	}
	span:not(.next-c){
		position:relative;
		color:#fff;
	}
}
.next-c{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:currentColor;
}
input[type=text]{
	padding-left:9px;
	border:1px solid #d2d2d2;
	outline:none;
	&.error{
		border-color:#f00;
		&::-webkit-input-placeholder{
			color:#f00;
		}
		&::-moz-placeholder{
			color:#f00;
			opacity:1;
		}
		&:-ms-input-placeholder{
			color:#f00;
		}
	}
}
.footer{
	height:66px;
	background:#f6f6f6;
	padding:0 0 50px 24px;
	font-size:16px;
	display:none;
	&:after{
	  content:'';
		height:100%;
	}
}
.footer:after,.always,.online,.phone{
	display:inline-block;
	vertical-align:middle;
	position:relative;
}
.colorize{
	fill:currentColor;
}
.always{
	padding-left:24px;
}
.always,.online,.phone{
	svg{
		position:absolute;
		left:0;
		top:4px;
		width:16px;
		height:16px;
	}
	div{
		color:#000;
	}
}
.online{
	padding-left:32px;
	margin-left:24px;
	svg{
		width:22px;
	}
}
.phone{
	padding-left:24px;
	margin-left:24px;
}