/*@path:partials\_index.scss*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic';

.constr-cont{
  @include flx(display,flex);
  font:14px/20px font();
  color:getc(font);
}
.constr-choose{
  width:330px;
  background:#fff;
  padding:12px 15px;
  input,select{
    width:100%;
    height:28px;
    border:1px solid getc(bdr);
    padding-left:10px;
    border-radius:4px;
    margin-top:6px;
    background:#fff;
    @extend %bxz;
    @include plh(){
      color:#b1b1b1;
    };
    &.error{
      border-color:#f00;
    }
  }
  option{
    padding:0;
  }
}
.constr-highlight{
  color:getc(orange);
}
.constr-size{
  margin:4px 0 0 0;
  color:getc(orange);
}
.constr-h1{
  font-size:18px;
  font-weight:700;
  color:getc(h);
  &~.constr-h1{
    margin-top:24px;
  }
}
.constr-b{
  font-weight:700;
  margin-top:12px;
  position:relative;
  &.shift{
    margin-top:30px;
  }
}
.q{
  background: url(#{$path}q.png) no-repeat;
  width:15px;
  height:15px;
  @include abs($t:2px,$r:0);
}
.constr-block{
  .constr-h1{
    margin-top:24px;
  }
}
.constr-type-block{
  display:none;
}
.constr-color{
  @include flx(display,flex);
  padding-top:4px;
  div{
    width:100px;
    margin-right:16px;
  }
}
.constr-overlay{
  @include abs($l:0,$r:0,$t:0,$b:0);
  z-index:1;
  background:rgba(#000, 0.5);
}
.constr-result{
  @include flx(flex,1);
  padding:0 15px 15px 0;
  background:getc(bg);
  overflow:hidden;
}
.constr-frame{
  width:100%;
  height:550px;
  position:relative;
}
.constr-ext{
  display:block;
  width:100%;
  height:100%;
}
.constr-out-wrap{
  margin:20px 15px 0 10px;
  font:14px/20px font();
  word-wrap:break-word;
}
.constr-out-h{
  font-weight:700;
  color:getc(h);
  display:block;
}
.constr-out{
  margin-top:5px;
  border:1px solid getc(bdr);
  border-radius:4px;
  background:#fff;
  padding:4px 10px;
  line-height:26px;
  display:block;
}
.constr-out-details{
  font-weight:400;
  margin-left:30px;
}
//---
.sp-picker-container{
  //width:auto;
  border:none;
}
.sp-replacer{
  margin-top:4px;
  padding:0;
  background:none;
  border:solid 1px getc(bdr);
}
.sp-dd{
  display:none;
}
.sp-preview{
  border:none;
  height:30px;
}
.sp-input{
  background:#fff;
}
//---
.sovinformburo_chat{
  @include trs('height .3s ease-in-out');
  z-index:100;
  height:0;
  @include abs($b:0);
  iframe{
    @include abs($l:-1000px,$t:-1000px);
    display:block;
  }
}
.sovinformburo_chat-block{
  overflow:hidden;
  height:100%;
  position:relative;
}
.sovinformburo_chat-notify{
  @include abs($l:0,$b:100%);
  margin-bottom:20px;
  visibility:hidden;
  opacity:0;
  @include trs('all .3s ease-in-out');
  color:#fff;
  padding:4px 10px;
  border-radius:6px;
  font:14px/19px sans-serif;
  width:280px;
}
.sovinformburo_chat-notify span{
  position:absolute;
  bottom:-12px;
  left:10px;
  border-left:7px solid transparent;
  border-right:7px solid transparent;
  border-top:12px solid transparent;
}